body{
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
overflow-y:scroll;
/*ie6 hack*/
_overflow-y:none;
*overflow-y:none;
}
.container{
width:960px;
padding-top:0;
margin-top:0;
}
textarea{
resize:none;
*overflow-y:auto;
}
a{
color:#3378b4;
text-decoration:none;
}
a:hover{
color:#3378b4;
text-decoration:underline;
}
a:visited{
color:#3378b4;
}
label{
color:#5e5e5e;
font-weight:100;
}
input{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
}
ul{
padding:0;
}
.center{
text-align:center;
}
.hide{
display:none;
}
.chrome_link_hack:hover{
text-decoration:none;
-moz-user-select:none;
-khtml-user-select:none;
user-select:none;
}
.gray{
filter:gray;
}
li{
list-style:none;
}
